.homeContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 60vw; 
    background-color: #B22222;
    color: white;
    border-radius: 25px;

    .logoHome {
        border-radius: 25px 25px 0 0;
        width: 100%;
    }

    .mainContainerForm{
        display: flex;
        align-items: center;
        //justify-content: center;
        height: 100%;
        width: 100%;
        flex-direction: column;

        .inputHomeContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 30px;
    
            .labelHome{
                font-size: 28px;
                margin-bottom: 5px;
            }
    
            .inputNameUser{
                width: 100%;
                border: none;
                padding: 10px;
                border-radius: 5px;
                outline: none;
            }
        }
    
        .buttonnHomeContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 10px;
    
            .startButton {
                margin-top: 30px;
                padding: 10px;
                border-radius: 5px;
                border: none;
                background-color: white;
                color: #B22222;
                width: 245px;
                font-weight: bolder;
                font-size: 18px;
            }
    
            .startButton:hover{
                cursor: pointer;
            }
    
        }
    }

    
}