.homeContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60vw; 
    background-color: $Dark-Red;
    color: white;
    border-radius: 25px;
    padding-bottom: 50px;

    @media screen and (max-width: 800px) {
        width: 95vw; 
    }

    .logoHome {
        border-radius: 25px 25px 0 0;
        width: 100%;
    }

    .mainContainerForm{
        display: flex;
        align-items: center;
        //justify-content: center;
        height: 100%;
        width: 100%;
        flex-direction: column;
        margin-top: 30px;

        .inputHomeContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .welcomeHome {
                font-size: 48px;
                margin-bottom: 30px;

                @media screen and (max-width: 450px) {
                    font-size: 38px;
                }
            }
    
            .labelUser{
                font-size: 26px;
                margin-bottom: 5px;

                @media screen and (max-width: 450px) {
                    font-size: 24px;
                }
            }

            .labelDifuculty{
                margin-top: 20px;
                font-size: 26px;
                margin-bottom: 5px;

                @media screen and (max-width: 450px) {
                    font-size: 24px;
                }
            }         
        }
    
        .buttonnHomeContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 10px;
        }
    }

    
}