
.questionContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60vw; 
    background-color: $Dark-Red;
    color: $White;
    border-radius: 25px;
    padding: 25px;

    .topContainer{
        display: flex;
        justify-content: space-between;
        width: 100%;

        .userNameLabel{
            font-size: 28px;
        }

        .scoreLabel {
            font-size: 28px;
        }

        .countQuestionLabel{
            font-size: 28px;
        }
    }

    .bodyQuestions {
        margin-top: 100px;
        width: 100%;
        background-color: $White;
        border-radius: 10px;
        padding: 20px;

        .questionText {
            color: $Dark-Red;
            font-size: 24px;
            text-align: center;
        }


        .multipleContainer{
            display: flex;
            width: 100%;
          

            form {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                gap: 10px;

                .labelOption{
                    color: $Dark-Red;

                    span{
                        margin-left: 5px;
                    }
                }
            }

            
        }

        .booleanContainer {
            display: flex;
            width: 100%;
          

            form {
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                gap: 10px;

                .labelOption{
                    color: $Dark-Red;

                    span{
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    .textResultResponse {
        margin-top: 10px;
        font-size: 28px;
        color: $White;
    }

    .dontshow {
        display: none;
    }
   
}